<h1>{{title}} and number = {{numbItem * 180}}</h1>
<p>{{arrNumb}}</p>
<p>{{'Hello' +' '+ 'hi'}}</p>
<app-post></app-post>
<app-postFour></app-postFour>


<div id="info">
<!--  <img [src]="img" alt="react">-->

  <input type="text" (keyup.enter)="onInput(myInput.value)" (blur)="onBlur(myInput.value)" #myInput>
  <p>{{inputValue}}</p>

  <button (click)="onClickBtn()">Click</button>
</div>
<hr>
<div class="test-binding">
  <app-post-three></app-post-three>
</div>
<hr>
<div class="directives">
  <app-post-five></app-post-five>
</div>
<hr>
<div class="directives">
  <app-post-six></app-post-six>
</div>
<hr>
<div class="directives">
  <app-post-seven></app-post-seven>
</div>
<hr>
<div class="pipes">
  <app-post-eight></app-post-eight>
</div>
